    <div class="header-container">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12 header-content">
                <h2>Hi, I'm Karmadi Adham</h2>
                <h1 >A Big Data & Cloud Computing Student</h1>
                <p>I'm passionate about leveraging big data technologies and cloud computing to solve real-world problems and drive innovation.</p>
                <button class="view-services transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none ...">View Resume</button>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <img src="../../assets/MERM.png" alt="Roberto Rick" class="profile-image ">
            </div>
        </div>
    </div>

    <div class="scroll-indicator animate-bounce ...">
        <div class="hall">
        <span>Scroll for more</span>
        </div>
        <div class="scroll-circle ">
            <div class="scroll-arrow">&#8595;</div>
        </div>
    </div>

    </div>
    <app-about id="about" class="fade"></app-about>
    <app-education id="education" class="fade"></app-education>